{% extends "::base.html.twig" %}

{% block body %}
<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" style="background-image: url('{{ asset ('images/Papsweb1a.jpg')}}');background-size: 100% auto;background-repeat: no-repeat;" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-8 nav-text">
										<h1 class="no-margin">A propos des nous</h1>
										<p>Notre équipe est composée principalement de jeunes personnes aussi dynamiques qu'ambitionnées dans leur travail.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END #gtco-header -->

		

		<div class="gtco-services gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Notre équipe</h2>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="owl-carousel owl-carousel-carousel">
							<div class="col-md-12">
								<div class="gtco-staff">
									<img src="{{ asset('images/bamba-2-crunch.png')}}" alt="" class="img-responsive">
									<h2>M. Bamba Lo</h2>
									<p class="role">CEO</p>
									<ul class="fh5co-social">
										<li><a href=" https://twitter.com/Khadim_L" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
										<li><a href=" https://www.linkedin.com/in/bamba-l%C3%B4-54972031/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-12">
								<div class="gtco-staff">
									<img src="{{ asset('images/rokhaya-crunch.png')}}" alt="" class="img-responsive">
									<h2>Rokhaya Sy</h2>
									<p class="role">COO</p>
									<ul class="fh5co-social">
										<li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
										<li><a href=" https://www.linkedin.com/in/rokhaya-sy-548a0149/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-12">
								<div class="gtco-staff">
									<img src="{{ asset('images/moustapha-2-crunch.png')}}" alt="" class="img-responsive">
									<h2>Ahmadou Moustapha Diao</h2>
									<p class="role">Responsable de Compte</p>
									<ul class="fh5co-social">
										<li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
										<li><a href=" https://www.linkedin.com/in/moustapha-ahmadou-diao-923b93103/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-12">
								<div class="gtco-staff">
									<img src="{{ asset('images/mareme-crunch.png')}}" alt="" class="img-responsive">
									<h2>Marème leye</h2>
									<p class="role">Founder</p>
									<ul class="fh5co-social">
										<li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
										<li><a href="https://www.linkedin.com/in/mareme-leye-b04262165" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
										<div class="col-md-12">
										<br><br>
                                         </div>
					<div class="col-md-12">
							<div class="owl-carousel owl-carousel-carousel">

                              <div class="col-md-12">
									<div class="gtco-staff">
										<img src="{{ asset('images/mor-crunch.png')}}" alt="" class="img-responsive">
										<h2>Mor Ndiaye</h2>
										<p class="role">Dispatch Leader</p>
										<ul class="fh5co-social">
											<li><a href="https://twitter.com/DjimbyMor" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
											<li><a href=" https://www.linkedin.com/in/mor-djimby-ndiaye-4a301bab/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
										</ul>
									</div>
							  </div>
								<div class="col-md-12">
									<div class="gtco-staff">
										<img src="{{ asset('images/madiodio.jpg')}}" alt="" class="img-responsive">
										<h2>Madiodio Gaye</h2>
										<p class="role">Product Manager</p>
										<ul class="fh5co-social">
											<li><a href=" https://twitter.com/Madiodio_Gaye " target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
											<li><a href="#" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="col-md-12">
									<div class="gtco-staff">
										<img src="{{ asset('images/richard.jpg')}}" alt="" class="img-responsive">
										<h2>Richard Ndong</h2>
										<p class="role">Auditeur Interne</p>
										<ul class="fh5co-social">
											<li><a href="https://twitter.com/RXCH4RD?s=09" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
											<li><a href=" https://www.linkedin.com/in/richard-alain-ndong-2a49ab134" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-12">
									<div class="gtco-staff">
										<img src="{{ asset('images/safietou-crunch.png')}}" alt="" class="img-responsive">
										<h2>Safiatou Tagotto</h2>
										<p class="role">Chargée des opérations</p>
										<ul class="fh5co-social">
											<li><a href="" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
											<li><a href="https://www.linkedin.com/in/safiatou-tagotto-436916168/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
					</div>
					<div class="col-md-12">
					        <div class="owl-carousel owl-carousel-carousel">
							   <div class="gtco-staff">
										<img src="{{ asset('images/arame-edited-crunch.png')}}" alt="" class="img-responsive">
										<h2>Ndeye Arame Camara</h2>
										<p class="role">Comptable</p>
										<ul class="fh5co-social">
											<li><a href="https://twitter.com/CamaraArame" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
											<li><a href="" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="gtco-staff">
										<img src="{{ asset('images/aliou.png')}}" alt="" class="img-responsive">
										<h2>Aliou Fall</h2>
										<p class="role">Responsable commercial</p>
										<ul class="fh5co-social">
											<li><a href="https://twitter.com/ogballer90_al" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
											<li><a href="https://www.linkedin.com/in/alioune-fall-646118ab/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
										</ul>
									</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END .gtco-services -->
		  <div class="gtco-client">
				<div class="gtco-container">
				 <div class="row row-pb-sm">
                    <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                        <h2>Notre application</h2>
                    </div>
                </div>
					<div class="row row-pb-sm"  >
							<img src="{{ asset ('images/Papsweb1e-1.jpg')}}"   alt="Free Website Template by GetTemplates.co" class="img-responsiv">
						
					</div>
				</div>
		  </div>

		<div class="gtco-section gtco-products">
            <div class="gtco-container">
                <div class="row row-pb-sm">
                    <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
					<img class="gtco-item two-row bg-img animate-box" style="background-image: url('{{ asset ('images/1492678157-about-icons-04-svg.svg')}}');background-size: 150px;background-repeat: no-repeat;">

                        <h2>septembre 2016</h2>
                        <p>Création</p>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-4 col-sm-4">
                        <img class="gtco-item two-row bg-img animate-box" style="background-image: url('{{ asset ('images/1492678176-about-icons-01-svg.svg')}}');background-size: 160px;background-repeat: no-repeat;">
                        
                        <h3 id="cooll">&nbsp;&nbsp;&nbsp; 26</h3>
                        <p><center>Employés</center></p>

                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img class="gtco-item two-row bg-img animate-box" style="background-image: url('{{ asset ('images/1492678197-about-icons-03-svg.svg')}}');background-size: 160px;background-repeat: no-repeat;">
                           
                        
                         <h3 id="cooll">2 000 euros</h3>
                         <p><center>Investissement</center></p>
                         
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img class="gtco-item two-row bg-img animate-box" style="background-image: url('{{ asset ('images/1492678213-about-icons-02-svg.svg')}}');background-size: 160px;background-repeat: no-repeat;">
                          
                      
                         <h3 id="cooll">&nbsp;&nbsp;&nbsp;10</h3>
                        <p><center>Villes.</center></p>

                    </div>
                </div>
            </div>
        </div>
		 <div class="gtco-client">
                    <div class="gtco-container">
					<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Nos partenaires</h2>
					</div>
				</div>
                        <div class="row">
							<div class="col-md-2 col-md-offset-1 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
								<img src="{{ asset ('images/index.jpeg')}}" id="parteners"  alt="Free Website Template by GetTemplates.co" class="img-responsiv">
							</div>
							<div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
								<img src="{{ asset ('images/dhl-paris-14961564679.jpg')}}" id="parteners"   alt="Free Website Template by GetTemplates.co" class="img-responsiv">
							</div>
							<div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
								<img src="{{ asset ('images/index.png')}}" id="parteners"   alt="Free Website Template by GetTemplates.co" class="img-responsiv">
							</div>
							<div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
								<img src="{{ asset ('images/total-tunisie.png')}}" id="parteners"   alt="Free Website Template by GetTemplates.co" class="img-responsiv">
							</div>
							<div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
								<img src="{{ asset ('images/tn-14501942-logoeiffage.jpg')}}"  id="parteners"  alt="Free Website Template by GetTemplates.co" class="img-responsiv">
							</div>
                        </div>
                     </div>
        </div>
			
{% endblock %}