   <header id="gtco-header" class="gtco-cover cov" style="background-image: url('{{ asset ('images/Papsweb1c.jpg')}}');background-size: 100% !important ;background-repeat: no-repeat;" role="banner"> 
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="display-t">
                            <div class="display-tc">
                                <div class="row">
                                    <div class="col-md-8 copy">
                                        <h1>Paps, votre livraison passe en vitesse supérieure.</h1>
                                        <p>Service de logistique urbaine pour les entreprises et les commerçants.</p>
                                        <p><a href="http://localhost:3000/" target="_blank" class="btn btn-white" style="margin-left: 300px;">Commencez maintenant</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END .gtco-client -->

        <div class="gtco-section gtco-products">
            <div class="gtco-container">
                <div class="row row-pb-sm">
                    <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                        <h2>Nos offres</h2>
                        <p>Paps dispose plusieurs services qu'on peut offrir aux entreprises.</p>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-4 col-sm-4">
                        <a href="{{ path ('service')}}" class="gtco-item two-row bg-img animate-box" style="background-image: url('{{ asset ('images/express.png')}}');background-size: 200px;background-repeat: no-repeat;">
                        </a>
                        <h3 id="cool">Livraison express</h3>
                        <p><center>Paps peut se charger de vos course dans le plus bref délais.</center></p>

                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="{{ path ('service')}}" class="gtco-item two-row bg-img animate-box" style="background-image: url('{{ asset ('images/document.png')}}');background-size: 200px;background-repeat: no-repeat;">
                           
                        </a>
                         <h3 id="cool">Livraison document</h3>
                         <p><center>Nous nous engageons avec vous à préparer, stocker et transmettre tous type de documents.</center></p>
                         
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="{{ path ('service')}}" class="gtco-item two-row bg-img animate-box" style="background-image: url('{{ asset ('images/colis.png')}}');background-size: 200px;background-repeat: no-repeat;">
                          
                        </a>
                         <h3 id="cool">Livraison de colis</h3>
                        <p><center>Paps s'engage à livrer vos colis de manière efficace.</center></p>

                    </div>
                </div>
                
            </div>
        </div>
        <!-- END .gtco-products -->
        <div class="gtco-services gtco-section">
            <div class="gtco-container">
            <div class="row row-pb-sm">
                    <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                        <h2>Nos avantages</h2>
                    </div>
                </div>
                <div class="row row-pb-sm">
                    <div class="row mdev">
                        <div class="col-md-4 col-sm-4 service-wrap">
                            <div class="service">
                                <h3><i class="fa fa-calendar-check-o"></i> La livraison</h3>
                                <p>Appuyez sur un bouton et un chauffeur viendra à vous en moins d'une heure pour vous livrer potre commande. <br> Paps est une entreprise de logistique urbaine et dispose des livreurs motivés à vos services.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 service-wrap">
                            <div class="service animate-change">
                                <h3><i class="fa fa-dollar"></i> Le coût</h3>
                                <p>Gérer toutes vos livraisons d'un endroit où vous pouvez voir les dépenses, les outils de reporting d'accès et économiser sur les coûts logistiques. Vous pouvez faire vos paiements par Orange Money, Carte Bancaire, ou par
                                    espèce.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 service-wrap">
                            <div class="service">
                                <h3><i class="fa fa-unlock-alt"></i> La sécurité</h3>
                                <p>Chaque livraison Paps est couvert par une police d'assurance à partir du moment où vos biens sont entre nos mains. Nos livreurs apportent votre commande jusqu'à chez vous en toute sécurité. </p>
                            </div>
                        </div>

                    </div>
                    
                   
                </div>
                
            </div>
                <div class="row">
                 <div class="row row-pb-sm">
                    <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                        <h2>Simplifiez votre vie.</h2>
                        <p>Paps permet également de faire des expéditions en régions. En somme, nous permettons de gagner du temps tout en apportant la transparence nécessaire à sécuriser vos expeditions et collecte.</p>
                    </div>
                </div>
                    <div class="col-sm-12  gtco-heading text-center"> 
                        <iframe width="1310" height="650" src="//www.youtube.com/embed/0ciyNxMcLkE?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                    
                    </div>
                    <div class="col-sm-12 gto-heading text-center">
                    <div class="row">
                    <div class="col-md-12 text-center">
                        <p><a href="  http://localhost:3000/"  class="btn btn-special">Commencer maintenant</a></p>
                    </div>
                </div>
                    </div>
                </div>
        </div>
        <!-- END .gtco-services -->

		<div class="gtco-section gtco-products">
			<div class="gtco-container">
				<div class="row row-pb-sm">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Etude de cas</h2>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-4 col-sm-4">
						<div class="gtco-item logo1 bg-img animate-box img-rounded" id="log1" style="background-image: url('{{ asset ('images/index.jpg')}}');background-size: 100px;background-repeat: no-repeat;">

						</div>
                        <div class="gtco-item logo1 bg-img animate-box img-rounded" id="log2" style="background-image: url('{{ asset ('images/boafric.jpg')}}');background-size: 100px;background-repeat: no-repeat;">

						</div>
                        <div class="gtco-item logo1 bg-img animate-box img-rounded" id="log3"  style="background-image: url('{{ asset ('images/auchann.jpg')}}');background-size: 100px;background-repeat: no-repeat;">

						</div>
					</div>
					<div class="col-md-8 col-sm-4" >
						<div class="col-md-12 col-sm-12 service-wrap" id="logo1">
						<div class="service">
							<h3> Orange </h3>
							<p>Livraison de contrats fibres Home pour les particuliers et Office pour les entreprises. </p>
                            <p>Box : Ramassage de matériels non utilisés chez les clients.</p>
                            <p>Puce 4G : Livraison de puces 4G</p>
						</div>
					     </div>
                         <div class="col-md-12 col-sm-12 service-wrap" id="logo2">
						<div class="service">
							<h3> BOA </h3>
				        	<p>Ramassage de documents administratifs sur les agents.</p>
						</div>
					     </div>
                         <div class="col-md-12 col-sm-12 service-wrap" id="logo3">
						<div class="service">
							<h3> Auchan </h3>
							<p>Ramassage de documents administratifs sur 19 agences </p>
                            <p>et autres sur trois (3) régions.</p>
						</div>
					     </div>
					</div>
					
				</div>
                
			</div>
		</div>
        {# ============== #}
 <script>
$(document).ready(function(){
        $("#logo1").show();
        $("#logo2").hide();
        $("#logo3").hide();
    $("#log2").hover(function(){
        $("#logo2").show().delay(5000);
        $("#logo3").hide().delay(5000);
        $("#logo1").hide().delay(5000);

    });
     $("#log3").hover(function(){
        $("#logo3").show().delay(5000);
        $("#logo1").hide().delay(5000);
        $("#logo2").hide().delay(5000);

    });
      $("#log1").hover(function(){
        $("#logo1").show().delay(5000);
        $("#logo2").hide().delay(5000);
        $("#logo3").hide().delay(5000);

    });
 
});
</script>



        {# ================ #}

        <div class="gtco-section gtco-testimonial gtco-gray">
            <div class="gtco-container">

                <div class="row row-pb-sm">
                    <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                        <h2>Il parle de nous</h2>
                        <p>Paps offre des solutions sur mesure uniques pour le transport de marchandises dans les villes en consolidant et rationalisant les plates-formes logistiques existantes.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 animate-box">
                        <div class="gtco-testimony gtco-left">
                            <div>
                             <a id="lab" target="_blank" href="https://sekou.org/magazine/2017/02/08/paps-premiere-startup-africaine-de-livraison-geolocalisee/">
                            <img src="{{ asset ('images/sekou-logo.png')}}" alt="Free Website template by GetTemplates.co">
                            </a>
                            </div>
                            <blockquote>
                                <p>&ldquo;Paps entend réinventer la livraison rapide en Afrique. Pour cela, la startup a développé une application de livraison géolocalisée qui sollicite les livreurs les ... &rdquo; <cite class="author">&mdash;Sekou </cite></p>
                            </blockquote>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 animate-box">
                        <div class="gtco-testimony gtco-left">
                            <div>
                            <a id="lab" target="_blank" href="https://www.africalogisticsmagazine.com/fr/content/interview-de-m-bamba-lo-directeur-general-de-paps">
                            <img src="{{ asset ('images/logoalm.png')}}" alt="Free Website template by GetTemplates.co">
                            </a>
                            </div>
                            <blockquote>
                                <p>&ldquo;Bamba LO est un sénégalais de la diaspora qui a décidé de rentrer au Sénégal et de s’installer, il y’a quelques années, après une expérience professionnelle ...&rdquo;
                                    <cite class="author">&mdash; africa logistics magazine</cite></p>
                            </blockquote>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 animate-box">
                        <div class="gtco-testimony gtco-left">
                            <div>
                            <a id="lab" target="_blank" href="http://startupbrics.com/africatech-paps-application-livraison-geolocalisee-afrique/#.W3GLfxi2yb-" >
                            <img src="{{ asset ('images/startups-brics.jpg')}}" alt="Free Website template by GetTemplates.co">
                            </a>
                            </div>
                            <blockquote>
                                <p>&ldquo;Tout est parti d’un constat utilisateur : j’avais à l’époque un centre d’appels qui a été amené à vendre des abonnements téléphoniques. Le taux d’encaissement ....&rdquo;
                                    <cite class="author">&mdash; startupbrics</cite>
                                </p>
                            </blockquote>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 animate-box">
                        <div class="gtco-testimony gtco-left">
                            <div>
                            <a id="lab" target="_blank" href="https://www.bbc.com/afrique/region-39673233">
                            <img src="{{ asset ('images/bbc.jpg')}}" alt="Free Website template by GetTemplates.co">
                            </a>
                            </div>
                            <blockquote>
                                <p>&ldquo;Bamba Lô et son équipe n'en sont pas encore là mais l'expérimentation démarre dans un mois à Dakar. Le fondateur de Paps, l'application de livraison à la demande géolocalisée...&rdquo; <cite class="author">&mdash; BBC</cite></p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>